<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片水印</title>
    <style>
        div {
            width: 2176px;
            height: 4608px;
            background-image: url("https://ncstatic.clewm.net/rsrc/2020/0821/15/421fc8e880e6e361e5f5ed4cdd931180.jpg");
            display: inline-block;
        }
    </style>
</head>
<body>
<div>
    <img src="https://qrapi.cliim.net/newqr/create?data=http%3A%2F%2Fqr71.cn%2Fo147jV%2FreNkea3&level=H&transparent=0&forecolor=%23000000&kid=bizcliim&time=1597996243&key=3c23e785415d6bb382620526a6522866"
         style="position: absolute;width: 160px;height: 160px;left: 20px;top:4377px;z-index: 100">
    <img src="https://ncstatic.clewm.net/rsrc/2020/0408/17/0809743c94ecf2a36fce66791022234c.png"
         style="position: absolute;width: 1393px;height: 391px;left: 0px;top:4216px;">
    <span style="position: absolute;font-size:31px;font-weight: 600;left: 192px;top:4420px;color: #ffffff;letter-spacing:1px;font-family: serif;">2020-08-21&nbsp;15:50:43</span>
    <span style="position: absolute;font-size:31px;font-weight: 600;left: 192px;top:4377px;color: #ffffff;letter-spacing:1px;font-family: serif;">黄金龙(协作成员)(相册上传)</span>
    <span style="position: absolute;font-size:31px;font-weight: 600;left: 192px;top:4463px;color: #ffffff;letter-spacing:1px;font-family: serif;">浙江省宁波市海曙区后河巷29号(宁波工程学院(</span>
    <span style="position: absolute;font-size:31px;font-weight: 600;left: 192px;top:4502px;color: #ffffff;letter-spacing:1px;font-family: serif;">翠柏东校区)内,先进制造业公共培训平台-B座西...</span>
    <hr style="position: absolute;width: 909px;height: 1px;left: 20px;top:4547px;background-color: #ffffff;">
    <span style="position: absolute;font-size:31px;font-weight: 600;left: 20px;top:4557px;color: #ffffff;letter-spacing:1px;font-family: serif;">此水印由xx公司&nbsp;创建</span>
</div>
</body>
</html>